* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: "Montserrat", serif;
  width: 100%;
}

:root {
  --primary-bg: #b62e42;
}

#header{
  background-color: var(--primary-bg);  
}

.nav-bar {
  width: 100%;
  height: 10vh;
  background-color: #b62e42;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  font-size: 18px;
}

#logo {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.search-bar {
  display: flex;
  position: relative;
  width: 10vw;
  margin-right: 350px;
}

.main-search {
  height: 40px;
  border-radius: 50px;
  border: 0;
  outline: none;
  font-family: inherit;
  background-color: rgb(245, 245, 245);
  padding-left: 36px;
}

.searchicon {
  position: absolute;
  left: 10px;
  top: 7px;
  bottom: 8px;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
}

nav a {
  text-decoration: none;
}

.icons {
  justify-content: space-evenly;
}

i {
  font-size: 30px;
  color: whitesmoke;
  cursor: pointer;
}

.home {
  position: relative;
}

.home::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 95px;
  background-color: whitesmoke;
  bottom: -19px;
  left: -33px;
  text-align: center;
  vertical-align: center;
}

.onHover {
  position: absolute;
  background-color: rgba(0, 217, 255, 0.309);
  width: 100px;
  height: 50px;
  right: 0;
  left: -33px;
  top: -17px;
  border-radius: 8px;
  opacity: 0;
}

li:hover .onHover {
  opacity: 1;
}

/* blog section css*/

#blogcss {
  width: 80%;
  margin: auto;
}

#bloglist {
  width: 75%;
  float: right;
}

#blogcss {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.likesharecmt {
  display: flex;
  margin-top: 10px;
}

.likesharecmt p {
  margin: 0 10px 0 10px;
}

.blogs {
  background: #fff;
  padding: 50px 20px 50px 20px;
  margin-top: 50px;
}

.likesharecmt img {
  height: 25px;
}

.reltopic {
  margin: 15px 0 15px 0;
}

.reltopic button {
  padding: 5px 10px;
  background: #b62e42;
  border: 0;
  color: white;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 10px;
}
