.bg-modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  .modal-content {
    height: 150px;
    width: 500px;
    background-color: white;
    border-radius: 2px;
    position: relative;
  }
  
  .modal-text {
    position: absolute;
    top: 65px;
    left:20px;
  }
  
  .choose-btns {
    position: absolute;
    top: 110px;
    right: 25px;
  }

.WritePost {
  border:1px solid black;
  position: relative;
  padding:10px;
  height: 80px;
}

.WriteText {
  position: absolute;
  padding:10px 10px 10px 10px;
  top: 10px;
  left: 10px;
  width: 500px;
}
.Post {
  position: absolute;
  width: 50px;
  height: 30px;
  right: 10px;
  bottom: 10px;
}

#file-input {
  position: absolute;
  bottom: 10px;
}