* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: "Montserrat", serif;
    width: 100%;
}

 :root {
    --primary-bg: #b62e42;
}

#header{
    background-color: var(--primary-bg);  
}

nav {
    width: 95%;
    margin: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: white;
}

#logo {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#blogcss{
    width: 80%;
    margin: auto;
}

#profileimg img{
    width: 90%;
    height: auto;
    border-radius: 50%;
}

#profilepicupdate{
    display: none;
    position: fixed;
    top: 40%;
    right: 40%;
    z-index: 1;
}

#updprofile{
    border-bottom: 1px solid #dadada;
    padding: 20px 40px;
}

#insertimage{
    padding: 20px 40px;
}

#insertimage input{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #b62e42;
    border-color: #b62e42;
}

#insertimage button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #b62e42;
    border-color: #b62e42;
}

#upload{
    background-color: #fff;
}

#profile{ 
    width: 25%;
    padding: 50px;
    background: #fff;
    position: fixed;
    height: 100vh;
    z-index: -1;
    top: 0;
}

#changeprofile{
    margin-top: 10px;
    position: fixed;
    border: 1px solid black;
    padding:5px;
    border-radius: 5px;
    background-color: #cce5fb;
}

#profiletop{
    margin-top: 10vh;
}


#profiletop.sticky{
    margin-top: 0vh;
}

#profileright{
    margin-top: 50px;
}

#namesetting{
    display: flex;
}

#setting{
    height: 30px;
    margin-left: 10px;
}

#bloglist{
    width: 75%;
    float: right;
}

#blogcss{
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.likesharecmt{
    display: flex;
    margin-top: 10px;
}

.likesharecmt p{
    margin: 0 10px 0 10px;
}

.blogs{
    background: #fff;
    padding: 50px 20px 50px 20px;
    margin-top: 50px;
}

.likesharecmt img{
    height: 25px;
}

.reltopic{
    margin: 15px 0 15px 0;
}

.reltopic button{
    padding: 5px;
    background: #b62e42;
    border-color: #b62e42;
    color: white;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 10px;
}
