* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: "Montserrat", serif;
    width: 100%;
}

 :root {
    --primary-bg: #b62e42;
}

#header{
    background-color: var(--primary-bg);  
}

nav {
    width: 95%;
    margin: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: white;
}

#logo {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#body{
    width: 60%;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
}

#settingbody{
    margin-top: 30px;
}

#settingbody button{
    background-color: #b62e42;
    padding: 5px 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
}

#settingbody input{
    margin-top: 20px;
    font-size: 20px;
}

#password, #deleteacc {
    margin-top: 20px;
}

.submit{
    margin-top: 20px;
    background-color: #fff !important;
    color: black !important; 
}